@page "/"
@rendermode InteractiveServer


<h3>App</h3>

<input @oninput="@(iv => {WordToAdd = iv.Value as string ?? "";})"
       type="text"
       placeholder="ex : learning" />

<input @oninput="@(iv => {WordDefinition = iv.Value as string ?? "";})"
       type="text"
       placeholder="ex : apprendre" />

<button @onclick="AddToList">Ajouter</button>


@if (MockupDictionary?.WordsList.Count == 0)
{
    <h3>No content</h3>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Numéro</th>
                <th scope="col">Mot</th>
                <th scope="col">Définition</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var (item, index) in MockupDictionary.WordsList.Select((item, index) => (item, index)))
            {
                <tr>
                    <th scope="row">@(index + 1)</th>
                    <td>@item.WordToAdd</td>

                    @if (@item.IsVisible)
                    {
                        <td>@item.WordDefinition</td>
                    }
                    else
                    {
                        <td class="invisible">@item.WordDefinition</td>
                    }

                    <td>
                        <button class="btn btn-primary" @onclick="() => ToggleVisibility(index)">Show/Hide</button>
                        <button class="btn btn-danger" @onclick="() => DeleteItemFromDicoList(index)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<Chronometer/>